#### 1.
We can use a list as a variable, named 'var' which can take multiple datatypes.

In [1]:
string = "Pritam"
my_list = ["DS","ML","DL", "AI"]
my_float =30.05
my_tuple = (100,"Stats",30.05)

var = [string,my_list,my_float,my_tuple]
print(var)

['Pritam', ['DS', 'ML', 'DL', 'AI'], 30.05, (100, 'Stats', 30.05)]

#### 2.
i) It's a String.
ii) It's a string.
iii) It's a list.
iv) It's an Integer type.

In [2]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

print(type(var1),type(var2),type(var3), type(var4))

<class 'str'> <class 'str'> <class 'list'> <class 'int'>

#### 3.  

1.   / is an arithmatic operator, used for division.
2.   % is called the modulo operator. Use for finding the remainder.

3.   // is the floor operator. Gives the floor value after division. i.e., the greatest integer value.
4.   ** is used for finding the exponent.

In [8]:
a = 30
b = 9

print(f"a/b = {a/b}; a%b = {a%b}; a//b = {a//b}; a**2 = {a**2}")

a/b = 3.3333333333333335; a%b = 3; a//b = 3; a**2 = 900

#### 4.

In [3]:
my_list = [30, 5, 30.05, 30 + 5j, ('stat',100), ['DS','PWSkills',2.0], "Math", "Stat", 'ML', {0,1,2}]
len(my_list)

10

In [6]:
for i in my_list:
  print(f"{i}, data type : {type(i)}")

30, data type : <class 'int'>
5, data type : <class 'int'>
30.05, data type : <class 'float'>
(30+5j), data type : <class 'complex'>
('stat', 100), data type : <class 'tuple'>
['DS', 'PWSkills', 2.0], data type : <class 'list'>
Math, data type : <class 'str'>
Stat, data type : <class 'str'>
ML, data type : <class 'str'>
{0, 1, 2}, data type : <class 'set'>

#### 5.
Verification if a number A is divisible by B using while loop.

In [35]:
A = int(input("A = "))
B = int(input("B = "))
no_of_division = A // B
while A >= B :
  if A == B:
    print(f"{A} is equal to {B}. So {A} can be purely divisible by itself 1 time.")
  elif A % B == 0:
    print(f"{A} is purely divisible by {B}, That is {A} can be divisible by {B}, {no_of_division} times.")
  else :
    print(f"{A} is not purely divisible by {B}.")
  #A = A - B*(A//B)
  break
else:
  print(f"{A} is lesser than {B}, so {A} can't be purely divisible by {B}.")

A = 30
B = 5
30 is purely divisible by 5, That is 30 can be divisible by 5, 6 times.

#### 6.
Checking if a list of first 25 integer is divisible by 3 or not using for loop and if-else conditions.

In [39]:
l = list(range(1,26))
print(l)
for i in l:
  if i % 3 == 0:
    print(f"{i} is divisible by 3.")
  else:
    print(f"{i} is not divisible by 3.")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

#### 7.

*   **Mutable** Data types are those in which we can change or update that datatype. For example lists are mutable. In list we can replace an element using indices.
*   **Immutable** Data types can't be edited or update, if we need to change an index of such data type we have to create a new object. Like String, tuple.

Following are the examples where list supporting item assignment but tuple and strings don't.

In [44]:
l = [1,2,3]
l[0] = 2
l

[2, 2, 3]

In [45]:
s = "Pritam"
s[0] = 'p'

TypeError: ignored

In [46]:
t = (1,2,3)
t[0] = 2

TypeError: ignored