#Q1.
There are 3 types of comments in Python-

*   Single Line comments
*   Multi Line comments
*   Docstring Comments

> To write *Single Line Comments* we use the hash symbol #.


> For *Multi Line Comments* we can use triple quotes """ Comments """. Though by definition this will be a string, but python ignores those strings which are not assigned to  a variable.


> We use triple quotations inside a function or class to know what they do, and we can access those strings using the (_ _ doc _ _)**bold text** attribute.

In [ ]:
# This is a Single Line Comment

""" This
is
a
Multi Line
Comment"""

print(__doc__) # this a the use of docstring

 This
is
a
Multi Line
Comment

#Q2
Variables are simple names of objects who works as a container for storing data, a name or string like "*var*" becomes a variable as soon as we assign a value to it.


> We assign value by using the **Assignment Operator (=)**.


```
# Acceptable variable
var = 10
x = 20
_x = 5
Var = 3.5
```
These are the examples of variables. here "var", "x" both are variable containing integer type of data. That is *we assigned the value 10 to the variable named as "var" and 20 to the variable named "x".*


> Some Properties about variables in Python:

1. Variables are case sensative in Python. Which means "var" and  "Var" will be two different variables.
2.   We can name a variable using strings, single letter, using underscores, letter and digits but can't use special characters and can't use digits at beginning and can't use python built in functions as a variable.


```
# Unacceptable variable names
3x = 10
x@ = 5
x.x = 6
```

# Q3
To convert a value
1.   to Integer we use  ``` int() ```,
2.   to Float we use ``` float() ``` ,
3.   to complex we use ``` complex() ``` ,
4.  to String we use ``` str() ```

To convert any array data
1.   To a list we use ``` list() ```
2.   To a tuple we use ``` tuple() ```
3.   To a set we use ``` set() ```

In [5]:
x = 3

In [6]:
str(x)

'3'

In [7]:
complex(3)

(3+0j)

In [9]:
float(x)

3.0

In [11]:
y = [0.123,0,30,5,6,9]

In [14]:
z = tuple(y)

In [15]:
set(y)

{0, 0.123, 5, 6, 9, 30}

In [16]:
list(z)

[0.123, 0, 30, 5, 6, 9]

# Q4
We open the command prompt or powershell in our system and we have to change the directory to our python file's directory where the script has been saved. we use the command like this (assuming our script in saved in desktop. named as (My_Script.py))

```
cd desktop  #(then hit enter)
```
then our directory will be changed to desktop. then we write
```
python My_Script.py #(hit enter)
```
Then our code will be executed.

# Q5
We have given a list named as my_list = [1,2,3,4,5]. We have to slice and obtain the sub-list [2,3]

In [19]:
my_list = [1,2,3,4,5]
sub_list = my_list[1:3] #using forward indexing
sub_list

[2, 3]

In [27]:
my_list[-4:-2] #using backward indexing

[2, 3]

# Q6
Complex Numbers in mathematics are the combination of real and imaginary number $(i)$. Expressed as $(a+ib)$. $i = \sqrt(-1) $. Where $a$ is the real part.



> In Python we use ``` a+bj ``` to denote a complex number. We use (j) to denote the imaginary part.

In [32]:
x = 5 + 9j
type(x)

complex

# Q7
Correct way to declare a variable named "age" and assign a value 25 to it is ```age = 25 ```.

# Q8
A variable named "price" and assigning the value 9.99 to it. This variable will belong to the **float** data type.

In [33]:
price = 9.99
type(price)

float

# Q9
Creating a variable named as "name" and printing my name. This will be a string data type.

In [34]:
name = "Pritam Saha"
print(name)

Pritam Saha

# Q10
Extracting sub-string "World" from the string  "Hello, World!"

In [35]:
s = "Hello, World!"
len(s)

13

In [49]:
s[7:len(s)-1] #[start:stop:step]

'World'

In [50]:
s[-6:-1]

'World'

# Q11
Creating  a variable named "is_student" and assigning a boolean value indicating whether you are a student or not.

I am taking  user input, questioning are you a student, if yes we assign true to the variable otherwise false.

In [52]:
is_student = bool()
s = input("Are you a student?(Y/N) ").upper()
if s == "Y" or s == "YES":
  is_student = True
else:
  is_student = False

print(is_student)
print(type(is_student))

Are you a student?(Y/N) n
False
<class 'bool'>